@charset "utf-8";

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

a{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#buttons{
    margin: 5% auto 6% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    padding: 10px 20px;
    background: none;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bolder;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

button:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.button:hover{
    text-decoration: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

body{
    margin: 0;
    background: #e5e5e5;
    color: #25282b;
    font-family: 'Montserrat', sans-serif;
}

body.hideScroll{
    overflow: hidden;
}

#intro{
    width: 25%;
    height: auto;
    margin: 0 30px auto auto;
}

header{
    width: 100%;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img#logo-ideias{
    min-width: 150px;
    width: 20%;
    height: auto;
    margin: auto auto auto 0;
}

header img#logo{
    width: 70%;
    height: auto;
    margin: auto;
}

header h1#empresa{
    text-align: center;
    margin: auto;
    font-size: 25pt;
    color: rgba(0, 0, 0, 0.5);
}

header div#nome-do-porteiro{
    display: flex;
    align-items: center;
    justify-content: center;
}

header h2{
    text-align: left;
    margin: auto;
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.5);
}

header h3{
    text-align: left;
    margin: auto;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.5);
}

main button.btn-menu{
    width: 100%;
    height: 45px;
    margin: 3px auto;
    font-size: 14pt;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(1, 1, 1, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
    background-image: linear-gradient(to top left, rgb(173, 173, 173), rgb(255, 255, 255), rgb(175, 175, 175));
}

main button.btn-menu:hover{
    text-decoration: none;
    background-image: linear-gradient(to top, rgb(173, 173, 173), rgb(255, 255, 255), rgb(175, 175, 175));
}

#container{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 40px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    margin: 32px 0;
}

/*last-ideias*/
#last-ideias{
    width: 80%;
    height: auto;
    margin: auto;
}

#last-ideias h2{
    width: 100%;
    height: auto;
    margin: 3% auto;
    text-align: left;
    font-size: 25pt;
    color: rgba(0, 0, 0, 0.5);
}

/*Footer*/
footer{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #777777;
    text-align: center;
}

footer a{
    opacity: 0.7;
}

.idea{
    

    margin-bottom: 32px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.5);
}

.idea img{
    width: 60px;
    height: 60px;
    margin: 0 32px auto auto;
}

.idea h3{
    margin: 0;
}

.idea p{
    margin: 8px 0;
    color: #777777;
}

.idea .description{
    margin: 16px 0;
}


/*Modal*/
#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s;

    display: flex;
    justify-content: center;
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
    margin-top: 2%;
    color: #ffffff;
}

#modal .content h1{
    font-size: 25pt;
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 15% auto;
    padding-bottom: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content form div:nth-child(3){
    grid-column: span 2;
}

.content form div:nth-child(4){
    grid-column: span 2;
}

form input,
form textarea,
form select{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

form div#iconGrau{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: auto;
    margin: auto;
}

form div#iconGrau img{
    width: 35px;
    height: 35px;
    margin: auto 0 auto auto;
}

form div#iconGrau label{
    margin: auto auto auto 0;
}

form div#box{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
}

form div#box div{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: auto;
    margin: auto;
}

form div#box div input{
    width: 20%;
    margin: auto 0 auto 10%;
}

form div#box div label{
    width: 80%;
    margin: auto auto auto 0;
}

form div#box div:nth-child(1){
    color: lawngreen;
}

form div#box div:nth-child(2){
    color: yellow;
}

form div#box div:nth-child(3){
    color: red;
}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form button{
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.8)
}

form button:hover{
    background-color: rgb(197, 197, 197);
    text-decoration: none;
}

form a{
    width: 150px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: end;
}

form a:hover{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

/* Ideia.html */
#page-ideias #container{
    display: block;
}
#page-ideias header{
    display: flex;
    justify-content: space-between;
}

#page-ideias nav{
    display: flex;
    align-items: center;
}

#page-ideias li{
    list-style: none;
    margin-right: 16px;
}

#page-ideias li a{
    color: #25282b;
}

#page-ideias li a.button{
    color: #ffffff;
}

#page-ideias li:last-child{
    margin: 0;
}

#page-ideias section#title{
    text-align: center;
}

#page-ideias section#title p{
    opacity: 0.7;
    margin: 0;
}

#page-ideias section#title h1{
    margin: 0;
    font-size: 28px;
}

#page-ideias section#ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideas .idea{
    margin: 0;
}

section#title,
section#ideas,
footer{
    margin-top: 64px;
}